############################################
# Unreal Engine 5 - Monorepo .gitignore
# 여러 Unreal 프로젝트를 하나의 Git 저장소에서 관리
############################################


############################################
# Unreal Engine generated folders
############################################

# Compiled binaries
**/Binaries/

# Derived Data Cache
**/DerivedDataCache/

# Intermediate build files
**/Intermediate/

# Runtime / temporary editor files
**/Saved/


############################################
# Visual Studio
############################################

**/.vs/

*.sln
*.suo
*.user
*.userosscache
*.sln.docstates

*.VC.db
*.VC.opendb
*.opensdf
*.sdf
*.opendb

*.vcxproj
*.vcxproj.filters
*.vcxproj.user

*.pch
*.obj
*.tlog
*.ipch
*.pdb


############################################
# JetBrains Rider
############################################

**/.idea/
*.sln.iml


############################################
# Visual Studio Code
############################################

**/.vscode/


############################################
# Unreal generated / build files
############################################

*.target

# 패키징 결과물을 Builds 폴더에 저장하는 경우
**/Builds/

# Cook / Stage 결과물
**/Cooked/
**/StagedBuilds/


############################################
# Unreal temporary / backup files
############################################

**/Autosaves/
**/Backup/
**/Logs/
**/Temp/
**/Crashes/
**/DisasterRecovery/
**/MemoryReports/
**/Profiling/


############################################
# Platform generated folders
############################################

**/Windows/
**/Mac/
**/Linux/
**/Android/
**/IOS/


############################################
# Plugins
############################################

# 플러그인의 생성 파일
**/Plugins/*/Binaries/
**/Plugins/*/Intermediate/


############################################
# Temporary files
############################################

*.ini~
*.tmp
*.bak


############################################
# OS files
############################################

.DS_Store
Thumbs.db
desktop.ini


############################################
# OneDrive / shortcuts
############################################

*.lnk
~$*
OneDrive*/


############################################
# IMPORTANT:
#
# 아래 Unreal 프로젝트 파일들은 Git에 포함됨
#
# Content/
# Config/
# Source/
# Plugins/          (소스 및 uasset)
# *.uproject
# *.uplugin
############################################